* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100%;
  height: 100%;
}

.section {
  background-color: #faf9f7;
  height: calc(100vh - 90px);
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.15),
    0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin: 14px;
}

/* スマホ用 */
@media (max-width: 850px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
